:root {
  --color-light-form-button-normal: #f6f6f6;
  --color-light-form-button-normal-light: #f4f4f4;
  --color-light-form-button-normal-shadow: #dbdbdb;
  --color-light-form-button-normal-contrast: var(--color-warm-gray, #574f4a);

  --color-light-form-button-primary: #ffa300;
  --color-light-form-button-primary-light: #ffc45a;
  --color-light-form-button-primary-shadow: #ab8137;
  --color-light-form-button-primary-contrast: var(--color-black, #000);

  --color-light-form-button-secondary: #6acad8;
  --color-light-form-button-secondary-light: #91d0d9;
  --color-light-form-button-secondary-shadow: #53888f;
  --color-light-form-button-secondary-contrast: var(--color-black, #000);

  --color-light-form-button-danger: #f15d22;
  --color-light-form-button-danger-light: #f57442;
  --color-light-form-button-danger-shadow: #9d877e;
  --color-light-form-button-danger-contrast: var(--color-white, #fff);

  --color-light-form-input-active: var(--color-orange, #faa41a);
  --color-light-form-input-background: var(--color-white, #fff);
  --color-light-form-input-border: var(--color-warm-gray, #574f4a);
  --color-light-form-input-disabled: var(--color-light-gray, #f6f6f6);
  --color-light-form-input-foreground: var(--color-black, #000);
  --color-light-form-input-hint: var(--color-medium-gray, #a6a6a6);
  --color-light-form-input-invalid: var(--color-red, #f15d22);
}
