---

name: CI

on: push

jobs:
  Lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Install
        run: npm ci

      - name: Lint
        run: npm run lint

  Test_Unit:
    name: Test (node)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Install
        run: npm ci

      - name: Test
        run: npm run test

  Test_Browser_Ubuntu:
    name: Test (${{ matrix.browser }} on ubuntu)
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        browser:
          - chrome
          - firefox

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Install
        run: npm ci

      - name: Setup
        run: sudo apt-get install -y xvfb

      - name: Test
        run: |
          xvfb-run --auto-servernum npx testcafe ${{ matrix.browser }}:headless test/browser/**

      - name: Teardown
        if: always()
        run: |
          xvfb_pids=`ps aux | grep tmp/xvfb-run | grep -v grep | awk '{print $2}'`
          if [ "$xvfb_pids" != "" ]; then
            sudo kill $xvfb_pids
          fi

      - name: Upload
        uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: ${{ matrix.browser }} on ubuntu
          path: test/screenshots

  Test_Browser_Windows:
    name: Test (${{ matrix.browser }} on windows)
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        browser:
          - chrome
          - edge
          - firefox

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Install
        run: npm ci

      - name: Test
        run: npx testcafe ${{ matrix.browser }} test/browser/**

      - name: Upload
        uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: ${{ matrix.browser }} on windows
          path: test/screenshots

  Build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build
        env:
          NODE_ENV: production

  Deploy_Github_Pages:
    name: Deploy (Github Pages)
    runs-on: ubuntu-latest
    needs:
      - Lint
      - Test_Unit
      - Test_Browser_Ubuntu
      - Test_Browser_Windows
      - Build

    if: github.ref == 'refs/heads/master'

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build
        env:
          NODE_ENV: production

      - name: Setup Hosting
        run: |
          touch docs/.nojekyll &&
          echo "components.origin76.com" > docs/CNAME

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v2
        env:
          PERSONAL_TOKEN: ${{ secrets.GITHUB_KEY }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: ./docs

  Deploy_Package:
    name: Deploy (NPM Package)
    runs-on: ubuntu-latest
    needs:
      - Lint
      - Test_Unit
      - Test_Browser_Ubuntu
      - Test_Browser_Windows
      - Build

    if: github.ref == 'refs/heads/master'

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build
        env:
          NODE_ENV: production

      - name: Deploy
        run: npm run release
        env:
          CI: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_KEY }}
          NPM_TOKEN: ${{ secrets.NPM_KEY }}
